@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* =============reset=================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #183b56;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #577592;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}


/* ==================Utility class====================== */




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.primary-button {
    background-color: #2294ed;
    border-radius: 6px;
    font-weight: 500;
    color: #fff !important;
    padding: 12px 24px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    transition: 0.3s ease-out;
}

.primary-button:hover {
    background-color: #0061ad;
}

.secondary-button {
    border: 0.5px solid #b9cde4;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 500;
    color: #183b56 !important;
    transition: 0.3s ease-out;
}

.secondary-button:hover {
    border-color: #2294ed;
    color: #2294ed !important;
}

.hover-link {
    color: #183b56;
    transition: 0.3s ease-out;
}

.hover-link:hover {
    color: #2294ed;
}

/* ================  top banner================== */


.top-banner {
    background-color: #e74694;
    background-image: url(../images/asset\ 32.png);
    background-size: 300px;
}

.banner-text {
    text-align: center;
    padding: 15px 30px;
    color: #fff;
}


/* ================   nav bar=============== */

.main-nav {
    justify-content: space-between;
    margin-top: 20px;
}

.company-logo img {
    width: 168px;
    height: 31px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links>ul {
    justify-content: end;
    gap: 30px;
}

.become-tester-text {
    margin-left: 15px;
    color: #183b56;
}

.nav-links ul li {
    position: relative;
}

.sub-nav-link {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    top: 100%;
    left: 0;
    width: 170px;
    padding: 20px 8px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
    display: none;
}

.nav-links ul li:hover .sub-nav-link {
    display: flex;
}


/* ============   header part =========== */

.header-data{
    justify-content: space-between;
    margin-top: 100px;
}
.header-data img{
    max-width: 390px;
}
.header-disc {
    flex-direction: column;
    gap: 20px;
    max-width: 590px;
    margin: 30px auto;
    text-align: center;
    
}

.header-disc .primary-button {
    margin-top: 30px;
}


/* ========  review-section   ======== */



.review-section{
    margin: 80px auto;
}
.review-data{
    justify-content: space-around;
}
.review{
    flex-direction: column;
}


/* ===========  big-feature section============= */



.big-feature-container {
    gap: 50px;
    justify-content: space-between;
}

.feature-img img {
    max-width: 600px;
}

.feature-disc {
    max-width: 450px;
    padding: 0 30px;
    flex-direction: column;
    align-items: flex-start;
}

.feature-disc h2 {
    font-size: 29px;
    margin-bottom: 15px;
}
.frature-disc-list{
    gap: 30px;
    margin-left: 18px;
    margin-top: 20px;
    color: #577592;
}
.frature-disc-list ul li{
    list-style-type: disc;
}
.hover-links{
    color: #577592;
    border-bottom: 1px dashed black;
}



/* ==========   wf-section   ========= */


.wf-section{
    margin: 50px 0;
}
.wf-section-data{
    flex-direction: column;
    gap: 50px;
}
.wf-data{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}
.wf{
    flex-direction: column;
    max-width: 45%;
    gap: 15px;
    align-items: flex-start;
}
.wf p{
    color: #577592;
    font-size: 16px;
}
.link{
    color: #2294ed;
    text-decoration: underline;
}



















































/* ================cta-section================ */

.cta-section {
    background-color: #183b54;
    padding: 80px 0;
    margin-top: 70px;
}

.cta-section-data {
    flex-direction: column;
    gap: 30px;
    color: #fff;
    max-width: 660px;
    text-align: center;
}

.cta-section-data h2 {
    font-size: 42px;
}

/* .logos {
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 165px;
    height: 40px;
} */



/* ===========footer-container============= */
footer {
    background-color: #ebf2fa;
    padding: 80px 0;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}



/* ==============sub-footer================= */


.sub-footer {
    background-color: #b9cde4;
    padding: 20px 0;
}

.sub-footer-container {
    justify-content: center;
    gap: 30px;
}